html,
body {
  direction: rtl;
  padding: 0px;
  margin: 0px;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-color: #f7f8fa;
}

a {
  color: inherit;
  text-decoration: none;
}
*:focus {
  outline: none;
}
.react-blur-canvas {
  flex: 100%;
}

* {
  box-sizing: border-box;
}

.MuiGridListTile-tile {
  box-shadow: none;
  transition: box-shadow 0.3s ease-in-out;
}
.MuiGridListTile-tile:hover {
  box-shadow: 0px 30px 30px rgba(0, 0, 0, 0.1);
}

h1 {
  font-size: calc(16px + 12 * (100vw - 320px) / 1600) !important;
}

h2 {
  font-size: calc(14px + 10 * ((100vw - 320px) / 1600)) !important;
}

h3 {
  font-size: calc(12px + 9 * ((100vw - 320px) / 1600)) !important;
}

h4 {
  font-size: calc(12px + 6 * ((100vw - 320px) / 1600)) !important;
}

h5 {
  font-size: calc(12px + 4 * ((100vw - 320px) / 1600)) !important;
}

.MuiTypography-h6 {
  font-size: calc(10px + 4 * ((100vw - 320px) / 1600)) !important;
}
#nprogress .spinner-icon {
  display: none;
}

@font-face {
  font-family: "ravi medium";
  src: url("/fonts/Ravi_Medium.ttf");
}
@font-face {
  font-family: "ravi bold";
  src: url("/fonts/Ravi_Bold.ttf");
}
@font-face {
  font-family: "ravi black";
  src: url("/fonts/Ravi_Black.ttf");
}
@font-face {
  font-family: "ravi thin";
  src: url("/fonts/Ravi_Thin.ttf");
}
@font-face {
  font-family: "ravi";
  src: url("/fonts/Ravi_Regular.ttf");
}
@font-face {
  font-family: "mreg";
  src: url("/fonts/MonumentExtended-Regular.otf");
}
#nprogress .bar {
  background-color: #ff5252 !important;
}

#nprogress .peg {
  box-shadow: 0 0 10px #ff5252, 0 0 5px #ff5252 !important;
}

#nprogress .spinner-icon {
  border-top-color: #ff5252;
  border-left-color: #ff5252;
}
