.header_grid {
  justify-content: space-between;
  align-items: center;
  display: flex;
  flex-direction: row;
}
.logo_container {
  background-size: contain;
  height: 0%;
  padding-top: 100%;
  width: 100%;
}
.search_input {
  border: none;
  padding: 12px;
  flex: 100%;
  font-family: ravi;
  font-size: 16px;
  color: #b2b2b2;
}
.search_select {
  flex: 40%;
  padding: 4px 4px;
  border-left: 2px solid #e0e1e5;
}
.account_select {
  padding: 4px 4px;
}

.search_container {
  display: flex;
  flex-direction: row;
  align-items: center;
  border: 2px solid #e0e1e5;
  margin: 24px 0px;
  border-radius: 8px 8px 8px 8px;
}
.account_container {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.search_select_options {
  font-family: ravi;
}
.account_select_options {
  font-family: ravi;
}
.search_input_icon {
  color: black;
  margin-left: 8px;
}
.cart_logo {
  color: black;
  flex: 100%;
}

.menu_button_icon {
  margin-left: 4px;

  color: #e0e1e5;
}
.menu_add_button_icon {
  margin-left: 4px;

  color: #ff5252;
}

@font-face {
  font-family: "ravi medium";
  src: url("/fonts/Ravi_Medium.ttf");
}
@font-face {
  font-family: "ravi bold";
  src: url("/fonts/Ravi_Bold.ttf");
}
@font-face {
  font-family: "ravi black";
  src: url("/fonts/Ravi_Black.ttf");
}
@font-face {
  font-family: "ravi thin";
  src: url("/fonts/Ravi_Thin.ttf");
}
@font-face {
  font-family: "ravi";
  src: url("/fonts/Ravi_Regular.ttf");
}
